@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
*{
   margin: 0;
   padding: 0;
}
body{
   background-image: url("ezgif.com-webp-to-jpg-converter.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
.things{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}
.todo{
   font-size: 80px;
   font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.alldivs{
   display: grid;
   grid-template-columns: repeat(3, 0fr); 
   grid-template-rows: repeat(2, 320px);
}
.first{
   background-color: transparent;
   height: 300px;
   width: 360px;
   margin-left: 170px;
   border-radius: 10px;
}
.second{
   background-color: transparent;
   height: 300px;
   width: 360px;
   margin-left: 46px;
}
.third{
   background-color: transparent;
   height: 300px;
   width: 360px;
   margin-left: 46px;
   display: flex;
}
.forth{
   background-color: transparent;
   height: 300px;
   width: 360px;
   margin-left: 170px;
}
.fifth{
   background-color: transparent;
   height: 300px;
   width: 360px;
   margin-left: 46px;
}

.input{
   display: flex;
   margin-top: 16px;
   border-radius: 10px;
}
.priorties{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   background-color: #FAF7F0;
   border: 3px #AB886D solid;
   border-radius: 5px;
}
.top{
   font-size: 29px;
}
.count{
   width: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d4bbaa;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px; 
}
.one{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px; 
   border: none;
   background-color: #DFD3C3;
   width: 90%;
   height: 40px;
   padding-left: 5px;
}
.one:focus {
   outline: none; 
}
.feel{
   display: flex;
   align-items: center;
   height: 12%;
   background-color:  #FAF7F0;
   border: 3px #AB886D solid;
   border-radius: 5px;
}
.you{
   font-size: 16px;
   margin-left:3px;
   color: black;
}
.emoji{
   margin-left: 59px;
   text-align: end;
}
.para{
   height: 78%;
}
.whole{
   font-size: 20px;
   margin-top: 3%;
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   background-color: #FAF7F0;
   line-height: 1.5;
}
textarea.focus{
   outline: none;
}
.timetabel{
   margin-top: -7px;
   width: 89%;
   height: 100%;
}
.first_fifth{
   height: 40%;
   position: relative;
}
.doit{
   position: absolute;
   margin-top: -17px;
   margin-left: 18px;
   height: 40px;
   width: 40%;
   background-color: antiquewhite;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px #AB886D solid;
}
.do_it_soon{
   width: 98%;
   height: 79%;
   padding-left: 10px;
   padding-top: 24px;
   background-color: transparent;
   border: 2px #AB886D solid;
}
.second_fifth{
   height: 40%;
   position: relative;
   margin-top: 46px;
}
.doitsoon{
   font-size: 15px;
}
.timewritten{
   /* background-color: #AB886D; */
   height: 100%;
   width: 22%;
}
.task_event{
   /* background-color: #DFD3C3; */
   height: 100%;
   width: 78%;

}
.time,.events{
   font-size: 19px;
}
.labelttime{
   height: 29px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: #AB886D 2px solid;
   background-color: transparent;
   border-right: #AB886D 2px solid;
   border-left: none;
}
.firsttext{
   border-bottom: #AB886D 2px solid;
   background-color: transparent;
   width: 100%;
   border-right: #AB886D 2px solid;
   border-left: none;
   border-top: none;
   height: 40px;
   outline: none;
}
.firsttext:focus{
   outline: none;
}
.labelevent{
   height: 29px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: #AB886D 2px solid;
   background-color: transparent;
   border-right:none;
   border-left: none;
}
.task{
   padding-left: 7px;
   border-bottom: #AB886D 2px solid;
   background-color: transparent;
   width: 100%;
   border-right: none;
   border-left: none;
   border-top: none;
   height: 40px;
   outline: none;
}
.task:focus{
   outline: none;
}
.innerdiv{
   background-color: #AB886D;
    height: 37vh;
    width: 92%;
    margin-left: 4%;
    margin-top: 28px;
    display: flex;
}
.six{
   height: 310px;
   width: 340px;
   margin-left: 46px;
   position: relative;
   background-color:  transparent;
   border: 2px #AB886D solid;
}
.notes{
   border: 2px #AB886D solid;
   background-color: antiquewhite;
   position: absolute;
   margin-top: -10px;
   margin-left: 25px;
   height: 30px;
   width: 103px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.alldisc{
   height: 100%;
   width: 15%;
   overflow: hidden;
   background-color: aliceblue;
}
.allnotes{
   height: 100%;
   width: 85%;
   background-color: #AB886D;
   overflow: hidden;
}
.firstdisc{
   background-color: #bca595;
   height: 40px;
   text-align: center;
   width: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
   /* border-radius: 50%; */
}
.discdegine{
   background-color: #DFD3C3;
   height: 15px;
   width: 38%;
   border-radius: 50%;
   /* height: 40%;
   border-radius: 50%; */
}
.input_score{
   height: 40px;
}
.input_note{
   background-color: #bca595;
   height: 100%;
   border: none;
   width: 100%;
   outline: none;
}
.input_note:focus{
   outline: none;
}
